@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@200&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    margin: auto;
    vertical-align: middle;
    background-color: #fb956c;
}

/*back button*/
#btnback{
    margin-top: 50px;
    margin-left: 7%;
    border: none;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
#btnback:hover {background-color: rgb(56, 55, 55)}
#btnback:focus{
    outline: none;
    background-color: white;
    color: black;
}

/*header*/
#header{
    font-size: 55px;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*whole div comment box*/
#divwhole {
    border-radius: 5px;
    margin-top: -50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px 40px;
}

/*all comments*/
.divcomment{ /*container per comment*/
    padding: 0px 10px;
}
.rating{
    margin-top: 15px;
    margin-bottom: 3px;
}
.nameofposter{
    margin-top: 0px;
    margin-bottom: 10px;
}
.comment{/*whole text of comment*/
    margin-top: 0px;
    margin-bottom: 15px;
}

/*Edit and delete reviews button*/
#divbtn_edit_delete{
    margin-left: 78%;
}
.btn_edit_delete{
    border: 1px solid rgb(170, 165, 165);
    margin-top: 0px;
    margin-right: 5px;
    background-color: white;
    font-size: 14px;
    padding: 8px 15px;
    cursor: pointer;
    color:rgb(124, 122, 122);
}
#btn_edit:hover{
    color: black;
    border-color: black;
}
#btn_edit:focus{
    color: white;
    background-color: black;
}
#btn_delete:hover{
    color: red;
    border-color: red;
}
#btn_delete:focus{
    color: white;
    background-color: red;
    outline: none;
}