@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0px;
}

/* HEADER START ---------------------- */
.header {
    background-color: #fb956c;
    height: 180px;
    width: 100%;
    margin: 0px;
}

#logo {
    margin-top: 55px;
    width: 100px;
}

#top-logo {
    display: flex;
    justify-content: center;
}

#container1 {
    background-color: white;
    height: 40px;
}

.navlink {
    margin-left: 80px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: inherit;
    text-decoration: inherit;
}

ul li a:hover{
    color: #D48166;
}

.navbar {
    margin: 15px;
}

#navbar1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 7px;
}

#navbar2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.floatleft {
    float: left;
}

.floatright{
    float: right;
}

.navbtn {
    margin-top: -140px;
    margin-left: 200px;
	margin-right: 4px;
	background-repeat: no-repeat;
	width: 375px;
	height: 375px;
    zoom: 7%;
}

ul {
    list-style-type: none;
    padding: 0;
}

#account {
    background-image: url("../images/spritesheet.png");
    background-position: 0px 0px;
}

#wishlist {
    background-image: url("../images/spritesheet.png");
    background-position: -1110px 0px;

}

#cart {
    background-image: url("../images/spritesheet.png");
    background-position: -370px 0px;
}

#fitem {
    margin-left: 20px;
    position: relative;
    top: -4px;
}

#search {
    background-image: url("../images/spritesheet.png");
    background-position: -740px 0px;
}
/* HEADER END -------------------------- */

footer {
    background-color: #4d4845;
    color: white;
    height: 150px;
    width: 1570px;
    position: absolute;
    bottom: 10;
}

hr {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
}

#footer1 {
    margin-left: 100px;
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
}
/* FOOTER END --------------------------- */


/*DROPDOWN MENU START*/

.action {
    position: relative;
    left: 105px;
}

/*account icon */
.action .profile {
    position: relative;
    left: 35px;
    cursor: pointer;
}

/*dropdownmenu*/
.action .dropdownmenu {
    position: relative;
    top: 15px;
    right: 25px;
    background: #373A36;
    padding: 20px;
    border-radius: 15px;
    visibility: hidden;
}

.action .dropdownmenu.active {
    visibility: visible;
}


/*arrow in dropdownmenu*/
.action .dropdownmenu::before {
    position: absolute;
    content: '';
    top: -5px;
    right: 99.5px;
    width: 8px;
    height: 8px;
    background: white;
    transform: rotate(45deg);
}

.action .dropdownmenu li {
    list-style: none;
    padding: 5px;
}

.action .dropdownmenu li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}

/*change color hover over drop down menu options*/
.action .dropdownmenu li a:hover {
    color: #D48166
}

/*DROPDOWN MENU END*/

#container {
	width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 1500px;
    position: relative;
    bottom: 40px;
    left: 50px;
}

.thumbnails {
    text-align: center;
    vertical-align: top;
    width: 500px;
}

.listings {
    margin: 70px;
    height: 500px;
    width: 500px;
    zoom: 70%;
}

#thumb1 {
    background-image: url("../images/spritesheet2.png");
    background-position: 0px 0px;
}

#thumb2 {
    background-image: url("../images/spritesheet2.png");
    background-position: -500px 0px;
}

#thumb3 {
    background-image: url("../images/spritesheet2.png");
    background-position: -1000px 0px;
}

#thumb4 {
	background-image: url("../images/spritesheet2.png");
    background-position: -1500px 0px;
}

#thumb5 {
	background-image: url("../images/spritesheet2.png");
    background-position: -2000px 0px;
}

.name, .price {
    font-family: 'Overpass', sans-serif;
    display: block;
    margin-left: -35px;
}

.name {
    font-size: 22px;
}

.price {
    font-size: 15px;
    margin-bottom: 70px;
}