<div class="divcomment">
    <h3 class="rating"> Rating: {{rating}} </h3>
    <h5 class="nameofposter"> posted by {{userName}} </h5>
    <p class="comment">
        {{rev}}
    </p>
    <!--image div 1-->
    <div id="divimage">
        <img class="comment_image" src={{}} alt="rev1" height= "100px">
        <img class="comment_image" src="../images/product1b.jpg" alt="rev1" height= "100px">
    </div>
    <!--image div 1 end-->
    <!--edit delete review button start-->
    <div id="divbtn_edit_delete">
        <button id="btn_edit" class="btn_edit_delete">Edit</button>
        <button id="btn_delete" class="btn_edit_delete">Delete</button>
    </div>
    <!--edit delete review button end-->
</div>