<link rel="stylesheet" type="text/css" media="all" href="../css/thumbnail.css">

<div class="thumbnail" id={{pNum}}>
    <img src={{pImage}} class="image">
    <span class="name">{{pName}}</span>
    <span class="price"> P {{pPrice}} </span>
</div>