<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Login Page">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">

	<title> Clothing & Science | About Page</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">	   

	<link rel="shortcut icon" type="image/png" href="../images/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	{{!-- <script src="/js/login.js"> </script> --}}
</head>
<body>
	<div id="container">
		<div id="header">
			<img src="../images/logo.png" height="150px" width="150px" id="logo">
			<p id="tagline"> NPM Packages Used</p>
            <p> bcrypt </p>
            <p>body-parser</p>
            <p> dotenv </p>
            <p> express </p>
            <p> express-handlebars</p>
            <p> express-validator </p>
			<p> express-session </p>
            <p> hbs </p>
            <p> mongodb</p>
		</div>

	</div>
</div>

</body>
</html>