<!DOCTYPE html>
<html>
    <meta name="description" content="Admin Settings - Add Product">
    <meta name="keyword" content="Admin Settings - Add Product">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title> Clothing & Science | Admin Settings - Add Product</title>
        <link rel="stylesheet" type="text/css" href="../css/admin_product_add.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="../public/js/admin_product_add.js"> </script>
    </head>


    <body>
        <div id="divmain">
            <img id="imglogo" src="../images/logo.png" height="120px" width="120px">
            <br>

            <p id="txtheader">
            <span class="material-icons">manage_accounts</span>
            ADD PRODUCT
            </p>

            <form class="form" method="POST" action="/admin_product_add" class="form">
			<p class="txt_titles">Product Number<p>
            <input type="text" placeholder="Enter product Number" class="input" id="pnum" name="pnum" required>
            <p class="txt_titles">Product Name<p>
			<input type="text" placeholder="Enter product name" class="input" id="pname" name="pname" required>
            <p class="txt_titles">Product Price<p>
			<input type="number" placeholder="Enter product price" class="input" id="pprice" name="pprice" required>
            <p class="txt_titles">Available Quantity<p>
			<input type="number" placeholder="Enter quantity" class="input" id="pqty" name="pqty" required>
            <p class="txt_titles">Product Description<p>
			<input type="text" placeholder="Enter product description" class="input" id="pdesc" name="pdesc" required>
            <p class="txt_titles">Color<p>
			<input type="text" placeholder="Enter color" class="input" id="pcolor" name="pcolor" required>
            <p class="txt_titles">Size<p>
			<input type="text" placeholder="Enter size" class="input" id="psize" name="psize" required>
            <p class="txt_titles">Product Images<p>
			<input type="file" id="pimage" name="pimage">
            <p id="error"></p>
			<input type="submit" id="btnadd" class="btna" value="Add Product">

            </form>	

            <a href="/admin_home_page"><button id="btncancel" class="btna"> Cancel </button> </a>

        </div>
    </body>
</html>