<!DOCTYPE html>
<html>
    <meta name="description" content="Admin Settings - Add Product">
    <meta name="keyword" content="Admin Settings - Add Product">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title> Clothing & Science | Admin Settings - Add Product</title>
        <link rel="stylesheet" type="text/css" href="../css/admin_product_add.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="../public/js/admin_product_add.js"> </script>
    </head>


    <body>
        <div id="divmain">
            <img id="imglogo" src="../images/logo.png" height="120px" width="120px">
            <br>

            <p id="txtheader">
            <span class="material-icons">manage_accounts</span>
            ADD PRODUCT
            </p>

            <!--PRODUCT NUMBER TO PRODUCT DESCRIPTION--------------------------------------------------------------------------------------->
            <div class="div_prod_details">
                <p class="txt_titles">Product Number</p>
                    <form id="form_pnumber" class="form">
                        <input type="text" placeholder="Enter product number" class="input" id="pnum" name="pnum" required>
                    </form>
            </div>

            <div class="div_prod_details">
            <p class="txt_titles">Product Name</p>
                <form id="form_pname" class="form">
                    <input type="text" placeholder="Enter product mame" class="input" id="pname" name="pname" required>
                </form>
            </div>

            <div class="div_prod_details">
                <p class="txt_titles">Price</p>
                <form id="form_price" class="form">
                    <input type="text" placeholder="Enter product price" class="input" id="pprice" name="pprice" required>
                </form>
            </div>

            <div class="div_prod_details">
                <p class="txt_titles">Available Quantity</p>
                <form id="form_available_qty" class="form">
                    <input type="number" placeholder="Enter quantity" class="input" id="pquantity" name="pquantity" required>
                </form>
            </div>

            <div class="div_prod_details">
                <p class="txt_titles"> Product Description </p>
                <form id="form_pdesc" class="form">
                    <input type="text" placeholder="Enter product description" class="input" id="pdetails" name="pdetails" required>
                </form>
            </div>

            <!--COLOR--------------------------------------------------------------------------------------->
            <div class="div_prod_details">
                <div class="div_var">
                    <p class="txt_titles"> Color </p>
                    <button class="btn_var" onclick="alert('Color Added Successfully!')"> <span class="material-icons">add</span> </button> 
                </div>
                <form id="form_color" class="form">
                    <input type="text" placeholder="Add color" class="input" id="pcolor" name="pcolor" required>
                </form>
            </div>

            <!--SIZE--------------------------------------------------------------------------------------->
            <div class="div_prod_details">
                <div class="div_var">
                    <p class="txt_titles"> Size </p>
                    <button class="btn_var" onclick="alert('Size Added Successfully!')"> <span class="material-icons">add</span> </button> 
                </div>
                <form id="form_size" class="form">
                    <input type="text" placeholder="Add size" class="input" id="psize" name="psize" required>
                </form>
            </div>

            <!--PRODUCT IMAGE--------------------------------------------------------------------------------------->
            <br>
            <div id="div_add_photos">
                <form id="form_add_photos">
                    <label for="upload"> Add Photos </label>
                    <input type="file" id="pimage" name="pimage">
                </form>
            </div>

            <p id="error"><</p>

            <!--END BUTTONS--------------------------------------------------------------------------------------->
            <a href="../views/admin_home_page.html"><button id="btnadd" class="btna"> Add Product </button> </a>
            <br>
            <a href="../views/admin_home_page.html"><button id="btncancel" class="btna"> Cancel </button> </a>

        </div>
    </body>
</html>