<!DOCTYPE html>
<html>
    <meta name="description" content="Admin Settings - Edit Product">
    <meta name="keyword" content="Admin Settings - Edit Product">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title>Clothing & Science | Admin Settings - Edit Product</title>
        <link rel="stylesheet" type="text/css" href="../css/admin_product_edit.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    </head>


    <body>
        <div id="divmain">
            <img id="imglogo" src="../images/logo.png" height="120px" width="120px">
            <br>

            <p id="txtheader">
            <span class="material-icons">manage_accounts</span>
            PN # 100456
            </p>

            <!--PRODUCT NAME TO PRODUCT DESCRIPTION--------------------------------------------------------------------------------------->
            <form class="form" method="POST" action="/admin_product_add" class="form">
            <p class="txt_titles">Product Name<p>
            <input type="text" placeholder="Enter product name" class="input" id="pname" name="pname">
            <p class="txt_titles">Product Price<p>
            <input type="number" placeholder="Enter product price" class="input" id="pprice" name="pprice">
            <p class="txt_titles">Available Quantity<p>
            <input type="number" placeholder="Enter available quantity" class="input" id="pqty" name="pqty">
            <p class="txt_titles">Quantity Sold<p>
            <input type="number" placeholder="Enter quantity sold" class="input" id="qtySold" name="qtySold">
            <p class="txt_titles">Product Description<p>
            <input type="text" placeholder="Enter product description" class="input" id="pdesc" name="pdesc">
            <p class="txt_titles">Color 1 (optional)<p>
            <input type="text" placeholder="Enter color" class="input" id="pcolor1" name="pcolor1">
            <p class="txt_titles">Color 2 (optional)<p>
            <input type="text" placeholder="Enter color" class="input" id="pcolor2" name="pcolor2">
            <p class="txt_titles">Color 3 (optional)<p>
            <input type="text" placeholder="Enter color" class="input" id="pcolor3" name="pcolor3">
            <p class="txt_titles">Color 4 (optional)<p>
            <input type="text" placeholder="Enter color" class="input" id="pcolor4" name="pcolor4">
            <p class="txt_titles">Size 1<p>
            <input type="text" placeholder="Enter size" class="input" id="psize1" name="psize1">
            <p class="txt_titles">Size 2<p>
            <input type="text" placeholder="Enter size" class="input" id="psize2" name="psize2">
            <p class="txt_titles">Size 3<p>
            <input type="text" placeholder="Enter size" class="input" id="psize3" name="psize3">
            <p class="txt_titles">Size 4<p>
            <input type="text" placeholder="Enter size" class="input" id="psize4" name="psize4">
            <p class="txt_titles">Product Image 1<p>
            <input type="file" id="pimage1" name="pimage1">
            <p class="txt_titles">Product Image 2<p>
            <input type="file" id="pimage2" name="pimage2">
            <p class="txt_titles">Product Image 3<p>
            <input type="file" id="pimage3" name="pimage3">
            <p class="txt_titles">Product Image 4<p>
            <input type="file" id="pimage4" name="pimage4">
            <p id="error"></p>
            <input type="submit" id="btnadd" class="btna" value="Edit Product">

            </form>

            <!--END BUTTONS--------------------------------------------------------------------------------------->
            <a href="/admin_home_page"><button id="btncancel" class="btna"> Cancel </button> </a>

        </div>
    </body>
</html>