<!DOCTYPE html>
<html>
    <meta name="description" content="Admin Settings">
    <meta name="keyword" content="Admin Settings">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title>Clothing & Science | Admin Settings</title>
        <link rel="stylesheet" type="text/css" href="../css/admin_home_page.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    </head>


    <body>
        <div id="divmain">
            <img id="imglogo" src="../images/logo.png" height="120px" width="120px">
            <br>

            <p id="txtadmin">
            <span class="material-icons">manage_accounts</span>
            ADMIN SETTINGS
            </p>
            
            <a href="/admin_product_add"> <button id="btnproducts" class="btna"> Add Product </button> </a>
            <br>
            <a href="/admin_product_code"> <button id="btnproducts" class="btna"> Edit Product </button> </a>
            <br>
            <a href="/admin_product_delete"> <button id="btnproducts" class="btna"> Delete Product </button> </a>
            <br>
            <a href="/editreviewcode"> <button id="btnreviews" class="btna"> Edit Review </button> </a>
            <br>
            <a href="/admin_review_delete"> <button id="btnreviews" class="btna"> Delete Review </button> </a>
            <br>
            <a href="/home"> <button id="btnhome" class="btna"> Back to Home </button> </a>
        </div>
    </body>
</html>