<!DOCTYPE html>
<html>
    <meta name="all-comments" content="All Comments">
    <meta name="keyword" content="All Comments">
    <meta name="author" content="MANDADERO, Clarissa Mae S.">
    <head>
        <title>Clothing & Science | All Reviews</title>
        <link rel="stylesheet" type="text/css" href="../css/all_reviews.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="/js/allreviews.js"> </script>
    </head>

    <body>
        <button id="btnback"> <span class="material-icons">arrow_back</span> </button>

        <!--div whole start-->
        <div id="divwhole">
            <h1 id="header">All Reviews {{pNum}}</h1>
            {{#each review}}
                    {{> review}}
                {{/each}}
        </div>
        <!--div whole end-->
        
    </body>