<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Cart">
        <meta name="keyword" content="Cart">
        <meta name="author" content="DESEMBRANA, Anna Patricia B.">

        <title>Clothing & Science | Cart</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/cart.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/cart.js"></script>
    </head>
    <body>
        {{>header flag=flag userName=userName}}
        <div id="container">
            <div class="content">
                <div class="cart">
                    <h1>Cart</h1>
                    <div class="items">
                    <!--    <input type="checkbox" id="select-all">
                        <label for="select-all">SELECT ALL ITEMS</label> -->
                    
                        {{#each item}} 
                            {{> item}}
                        {{/each}}
                    </div>
                </div>

                <a href="/checkout/{{userName}}"><button id="btn_checkout">PROCEED TO CHECKOUT</button></a>

    <!--            <aside class="summary">
                    <div id="sum_text">
                        <p>Subtotal: P 6,650.00</p>
                        <p>Shipping Fee: P 49.00</p>
                        <hr id="hr_sum">
                        <p>Total: <span id="total">P 6,669.00</span></p> 
                        <a href="/checkoutpage/{{userName}}"><button id="btn_checkout">PROCEED TO CHECKOUT</button></a>
                    </div>
                </aside>
    -->
            </div>
        </div>
        {{> footer}}
        
    </body>
</html>