<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Cart">
        <meta name="keyword" content="Cart">
        <meta name="author" content="DESEMBRANA, Anna Patricia B.">

        <title>Clothing & Science | Cart</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/cart.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <div id="top-logo">
                <img id="logo" src="../images/logo.png">
            </div>
        </div>
        <div id="container1">
            <div class="floatleft">
                <ul class="navbar" id="navbar1">
                    <li><a class="navlink" href="../views/home.html">Home</a></li>
                    <li><a class="navlink" href="../views/register.html">Register</a></li>
                    <li><a class="navlink" href="../views/login.html">Login</a></li>
                </ul>
            </div>
            <div class="floatright">
                <ul class="navbar" id="navbar2">
                    <div class="profile" onclick="dropdownToggle();">
                            <li class="navbtn" id="account"></li></a>
                    <div class="dropdownmenu" id="dropmenu">
                        <li> <a href="../views/acctdetailsnoedit.html"> View Account Details </a> </li>
                        <li> <a href="../views/acctdetails.html"> Edit Account Details </a> </li>
                        <li> <a href="../views/home.html"> Logout </a> </li>
                    </div>
                </div>
                    <a class="nav" href="../views/wishlist.html"><li class="navbtn" id="wishlist"></li></a>
                    <a class="nav" href="../views/cart.html"><li class="navbtn" id="cart"></li></a>
                    <form>
                        <input type="text" id="fitem" name="fname" placeholder="Search our store">
                    </form>
                    <a class="nav" href="../views/viewproducts.html"><li class="navbtn" id="search"></li></a>
                </ul>
            </div>
        </div>

        <hr id="hr_home">
        <!-- HEADER END -->

        <div class="content">
            <div class="cart">
                <h1>Cart</h1>
                <div class="items">
                    <input type="checkbox" id="select-all">
                    <label for="select-all">SELECT ALL ITEMS</label>
                
                    <div class="item">
                        <input type="checkbox" class="checkbox" id="item1">
                        <a href="../views/product_listing5.html"><div class="image" id="img1"></div></a>
                        <div class="details" id="det1">
                            <ul>
                                <a href="../views/product_listing5.html"><li><h2>Long Sleeve Sweatshirt</h2></li></a>
                                <li><h3>Variation: White</h3></li>
                                <li><h3>Size: L</h3></li>
                                <li>
                                    <form>
                                        <label for="qty"></label>
                                        <input type="number" id="qty1" name="qty" value="1" min="1">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="price" id="price1"><h3>P 1,990.00</h3></div>
                        <button class="delete" id="del1"></button>
                    </div>
                    
                    <div class="item">
                        <input type="checkbox" class="checkbox" id="item2">
                        <a href="../views/product_listing4.html"><div class="image" id="img2"></div></a>
                        <div class="details" id="det2">
                            <ul>
                                <a href="../views/product_listing4.html"><li><h2>Men's Socks</h2></li></a>
                                <li><h3>Variation: Light Blue</h3></li>
                                <li>
                                    <form>
                                        <label for="qty"></label>
                                        <input type="number" id="qty2" name="qty" value="1" min="1">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="price" id="price1"><h3>P 390.00</h3></div>
                        <button class="delete" id="del2"></button>
                    </div>
        
                    <div class="item">
                        <input type="checkbox" class="checkbox" id="item3">
                        <a href="../views/product_listing2.html"><div class="image" id="img3"></div></a>
                        <div class="details" id="det3">
                            <ul>
                                <a href="../views/product_listing2.html"><li><h2>High Rise Denim Jeans</h2></li></a>
                                <li><h3>Variation: Blue</h3></li>
                                <li><h3>Size: M</h3></li>
                                <li>
                                    <form>
                                        <label for="qty"></label>
                                        <input type="number" id="qty3" name="qty" value="1" min="1">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="price" id="price3"><h3>P 1,490.00</h3></div>
                        <button class="delete" id="del3"></button>
                    </div>
        
                    <div class="item">
                        <input type="checkbox" class="checkbox" id="item4">
                        <a href="../views/product_listing3.html"><div class="image" id="img4"></div></a>
                        <div class="details" id="det4">
                            <ul>
                                <a href="../views/product_listing3.html"><li><h2>Linen Open Collar Shirt</h2></li></a>
                                <li><h3>Variation: Yellow</h3></li>
                                <li><h3>Size: S</h3></li>
                                <li>
                                    <form>
                                        <label for="qty"></label>
                                        <input type="number" id="qty4" name="qty" value="1" min="1">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="price" id="price4"><h3>P 790.00</h3></div>
                        <button class="delete" id="del4"></button>
                    </div>
        
                    <div class="item">
                        <input type="checkbox" class="checkbox" id="item5">
                        <a href="../views/product_listing1.html"><div class="image" id="img5"></div></a>
                        <div class="details" id="det5">
                            <ul>
                                <a href="../views/product_listing1.html"><li><h2>Ultra Stretch Jeans</h2></li></a>
                                <li><h3>Variation: Blue</h3></li>
                                <li><h3>Size: M</h3></li>
                                <li>
                                    <form>
                                        <label for="qty"></label>
                                        <input type="number" id="qty5" name="qty" value="1" min="1">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="price" id="price5"><h3>P 1,990.00</h3></div>
                        <button class="delete" id="del5"></button>
                    </div>
                </div>
            </div>

            <aside class="summary">
                <div id="sum_text">
                    <p>Subtotal: P 6,650.00</p>
                    <p>Shipping Fee: P 49.00</p>
                    <hr id="hr_sum">
                    <p>Total: <span id="total">P 6,669.00</span></p> 
                    <a href="../views/checkoutpage.html"><button id="btn_checkout">PROCEED TO CHECKOUT</button></a>
                </div>
            </aside>
        </div>

        <!-- FOOTER -->
        <footer>
            <hr id="hr_footer">
            <div id="footer1"><p>©  Clothing & Science</p></div>
        </footer>
        <!-- FOOTER END -->
    </body>

    <script>
        function dropdownToggle(){
                 document.getElementById('dropmenu').classList.toggle('active'); //clicking the account icon makes it appear, clicking it again makes it disappear.
             }
     </script>
</html>