<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Cart">
        <meta name="keyword" content="Cart">
        <meta name="author" content="DESEMBRANA, Anna Patricia B.">

        <title>Clothing & Science | Cart</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/cart.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/cart.js"></script>
    </head>
    <body>
        <div id="homepage">
            {{#if flag}}
                {{> header flag=flag userName=userName}}
            {{else}}
                <div class="header">
                    <div id="top-logo">
                        <img id="logo" src="../images/logo.png">
                    </div>
                </div>
                <hr id="hr_home">
                <div id="container1">
                    <div class="floatleft">
                        <ul class="navbar" id="navbar1">
                            <li><a class="navlink" href="/">Home</a></li>
                            <li><a class="navlink" href="/register">Register</a></li>
                            <li><a class="navlink" href="/login">Login</a></li>
                            <li><a class="navlink" href="/about">About</a></li>
                        </ul>
                    </div>
                    <div class="floatright">
                        <ul class="navbar" id="navbar2">
                            {{!-- <div class="profile" onclick="dropdownToggle();">
                                    <li class="navbtn" id="account"></li></a>
                            <div class="dropdownmenu" id="dropmenu">
                                <li> <a href="/acctdetailsnoedit"> View Account Details </a> </li>
                                <li> <a href="/acctdetails"> Edit Account Details </a> </li>
                                <li> <a href="/home"> Logout </a> </li>
                                <li> <a href="/admin_home_page"> Admin </a>
                            </div>
                        </div> --}}
                        <form id="searchbar" method="GET" action="/search">
                            <input type="text" id="fitem" name="fitem" placeholder="Search our store">
                            <input type="submit" id="search" value="Search">
                        </form>
                        </ul>
                    </div>
                </div>
            {{/if}}
            <!-- HEADER END -->
        <div id="container">
            <div class="content">
                <div class="cart">
                    <h1>Cart</h1>
                    <div class="items">
                    <!--    <input type="checkbox" id="select-all">
                        <label for="select-all">SELECT ALL ITEMS</label> -->
                    
                        {{#each item}} 
                            {{> item}}
                        {{/each}}
                    </div>
                </div>

                <a href="/checkout/{{userName}}"><button id="btn_checkout">PROCEED TO CHECKOUT</button></a>

    <!--            <aside class="summary">
                    <div id="sum_text">
                        <p>Subtotal: P 6,650.00</p>
                        <p>Shipping Fee: P 49.00</p>
                        <hr id="hr_sum">
                        <p>Total: <span id="total">P 6,669.00</span></p> 
                        <a href="/checkoutpage/{{userName}}"><button id="btn_checkout">PROCEED TO CHECKOUT</button></a>
                    </div>
                </aside>
    -->
            </div>
        </div>
        {{> footer}}
        
    </body>
</html>