<!DOCTYPE html>
<html>
<head>

	<meta name="description" content="Confirmation Page">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">


	<title> Clothing & Science | Confirmation Page </title>
	<link rel="stylesheet" type="text/css" href="../css/confirmationpage.css">
	<link rel="stylesheet" type="text/css" href="">
	<link rel="shortcut icon" type="image/png" href="../images/favicon.png">
</head>
<body>
	<div class="container">
		<img src="../images/delivery-truck-icon-png-18.jpg" id="shipicon">
		<p> Checkout Successful! Please wait 3-7 working days. </p>
		<a href="../views/home.html">
			<button> Go back to Home</button>
		</a>
	</div>
</body>
</html>