<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Home Page">
        <meta name="keyword" content="Home Page">
        <meta name="author" content="DESEMBRANA, Anna Patricia B.">

        <title>Clothing & Science | Home Page</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/LoggedInHome.css">
        <link rel="stylesheet" type="text/css" media="all" href="../css/header.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    </head>
    <body>
        <div id="homepage">
            {{#if flag}}
                {{> header flag=flag userName=userName}}
            {{else}}
                <div class="header">
                    <div id="top-logo">
                        <img id="logo" src="../images/logo.png">
                    </div>
                </div>
                <hr id="hr_home">
                <div id="container1">
                    <div class="floatleft">
                        <ul class="navbar" id="navbar1">
                            <li><a class="navlink" href="/">Home</a></li>
                            <li><a class="navlink" href="/register">Register</a></li>
                            <li><a class="navlink" href="/login">Login</a></li>
                            <li><a class="navlink" href="/about">About</a></li>
                        </ul>
                    </div>
                    <div class="floatright">
                        <ul class="navbar" id="navbar2">
                            {{!-- <div class="profile" onclick="dropdownToggle();">
                                    <li class="navbtn" id="account"></li></a>
                            <div class="dropdownmenu" id="dropmenu">
                                <li> <a href="/acctdetailsnoedit"> View Account Details </a> </li>
                                <li> <a href="/acctdetails"> Edit Account Details </a> </li>
                                <li> <a href="/home"> Logout </a> </li>
                                <li> <a href="/admin_home_page"> Admin </a>
                            </div>
                        </div> --}}
                        <form id="searchbar" method="GET" action="/search">
                            <input type="text" id="fitem" name="fitem" placeholder="Search our store">
                            <input type="submit" id="search" value="Search">
                        </form>
                        </ul>
                    </div>
                </div>
            {{/if}}
            <!-- HEADER END -->
            <div id="banner">
                <div id="button">
                    <h1 id="discover">Discover the Collection</h1>
                    <a href="/viewproducts/{{userName}}">
                    <button id="shopnow" >SHOP NOW</button>
                    </a>
                </div> 
            </div>

            <div class="content">
                {{#each thumbnail}}
                    {{> thumbnail}}
                {{/each}}
            </div>
            
            {{> footer}}
            
        </div>
    </body>
</html>
