<!DOCTYPE html>
<html>
    <head>
        <title>Clothing & Science | Home Page</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/home.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="../public/js/home.js"></script>
        <script type="text/javascript">
            function dropdownToggle(){
            document.getElementById('dropmenu').classList.toggle('active'); //clicking the account icon makes it appear, clicking it again makes it disappear.
}       </script>
    </head>
    <body>
        <div id="homepage">
            <div class="header">
    <div id="top-logo">
        <img id="logo" src="../images/logo.png">
    </div>
</div>
<div id="container1">
    <div class="floatleft">
        <ul class="navbar" id="navbar1">
            <li><a class="navlink" href="/">Home</a></li>
            <li><a class="navlink" href="/register">Register</a></li>
            <li><a class="navlink" href="/login">Login</a></li>
        </ul>
    </div>
    <div class="floatright">
        <ul class="navbar" id="navbar2">
            {{!-- <div class="profile" onclick="dropdownToggle();">
                    <li class="navbtn" id="account"></li></a>
            <div class="dropdownmenu" id="dropmenu">
                <li> <a href="/acctdetailsnoedit"> View Account Details </a> </li>
                <li> <a href="/acctdetails"> Edit Account Details </a> </li>
                <li> <a href="/home"> Logout </a> </li>
                <li> <a href="/admin_home_page"> Admin </a>
            </div>
        </div> --}}
            <form>
                <input type="text" id="fitem" name="fname" placeholder="Search our store">
            </form>
            <a class="nav" href="/search"><li class="navbtn" id="search"></li></a>
        </ul>
    </div>
</div>
            
            <div id="banner">
                <div id="button">
                    <h1 id="discover">Discover the Collection</h1>
                    <a href="/viewproducts">
                    <button id="shopnow" >SHOP NOW</button>
                    </a>
                </div> 
            </div>

            <div id="content">
                {{#each}}
                    {{> thumbnail}}
                {{/each}}
<!--               <div class="thumbnail">
                    <a href="../views/product_listing5.html"><div class="listings" id="thumb1"></div>
                    <span class="name">Long Sleeve Sweatshirt</span>
                    <span class="price"> P1,990.00 </span></a>
                </div>
                <a href="../views/product_listing1.html"><div class="thumbnail">
                    <div class="listings" id="thumb2"></div>
                    <span class="name"> Ultra Stretch Jeans </span>
                    <span class="price"> P1,990.00 </span>
                </div></a>
                <div class="thumbnail">
                    <a href="../views/product_listing4.html"><div class="listings" id="thumb3"></div>
                    <span class="name"> Men's Socks </span>
                    <span class="price"> P390.00 </span>
                </div></a>
                <a href="../views/product_listing2.html"><div class="thumbnail">
                    <div class="listings" id="thumb4"></div>
                    <span class="name"> High Rise Denim Jeans </span>
                    <span class="price"> P1,490.00 </span>
                </div></a>
                <a href="../views/product_listing3.html"><div class="thumbnail">
                    <div class="listings" id="thumb5"></div>
                    <span class="name"> Linen Open Collar Shirt </span>
                    <span class="price"> P790.00 </span>
                </div></a>
-->   
            </div>
         
            {{> footer}}
            
        </div>
    </body>
</html>
