<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Home Page">
        <meta name="keyword" content="Home Page">
        <meta name="author" content="DESEMBRANA, Anna Patricia B.">

        <title>Clothing & Science | Home Page</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/LoggedInHome.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    </head>
    <body>
        <div id="homepage">
          {{> header flag=flag userName=userName}}
            <!-- HEADER END -->
            <div id="banner">
                <div id="button">
                    <h1 id="discover">Discover the Collection</h1>
                    <a href="/viewproducts/{{userName}}">
                    <button id="shopnow" >SHOP NOW</button>
                    </a>
                </div> 
            </div>

            <div class="content">
                {{#each thumbnail}}
                    {{> thumbnail}}
                {{/each}}
            </div>
            
            {{> footer}}
            
        </div>
    </body>
</html>
