<!DOCTYPE html>
<html>
<head>

	<meta name="description" content="Register Page">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">

	<title> Clothing & Science | Registration Page</title>
	<link rel="stylesheet" type="text/css" href="../css/register.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">	   
	<link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/register.js"> </script>

</head>
<body>
	<div id="container">
		<div id="header">
			<img src="../images/logo.png" height="150px" width="150px" id="logo">
			<p id="tagline"> Where Clothing meets Science. </p>
		</div>

		<form class="form" method="POST" action="/register">
			<input type="text" placeholder="Full Name" class="input" id="fullname" name="fullname" required>
			<input type="text" placeholder="Username" class="input" id="username" name="username" required>
			<input type="email" placeholder="Email address" class="input"id="email" name="email" required>
			<input type="password" placeholder="Password" class="input" id="password" name="password" required>
			<input type="text" placeholder="Delivery Address" class="input" id="deladdr" name="deladdr" required>
			<input type="text" placeholder="Contact Number" class="input" id="contactnum" name="contactnum" required>
			<input type="submit" id="submit" value="Sign me up" onclick="alert('You are now a registered user!')">

		<!-- <button id="registerbtn" onclick="alert('You are now a registered user!')"> Sign me up! </button> -->
	</form>	
	<p id="error"><p>
	<p id="error2"></p>
</div>

</body>
</html>