<!DOCTYPE html>
<html>
    <head> 
        <title> Welcome! </title>
        <link rel="stylesheet" type="text/css" href="../css/review.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="container">
            <div id="header">
                <img src="../images/logo.png" height="150px" width="150px" id="logo">
                <p id="tagline"> Product Name </p>
		    </div>
            <form>
                <input type="number" class="input" placeholder="Enter rating here" name="rating"><br>
				<input type="text" class="input" placeholder="Enter review here" name="review"><br>
                <input type="submit" id="homebtn" value="Add">
            </form>
            <a href="/admin_home_page"><button id="homebtn"> Cancel </button></a>
        </div>
    </body>
</html>