<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Search ">

    <title>Clothing & Science | Search</title>
    <link rel="stylesheet" type="text/css" media="all" href="../css/search.css">
    <link rel="stylesheet" type="text/css" media="all" href="../css/header.css">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <script type="text/javascript" src="/js/search.js"></script>
</head>
<body>
    <div class="header">
        <div id="top-logo">
            <img id="logo" src="../images/logo.png">
        </div>
    </div>
    <hr id="hr_home">
    <div id="container1">
        <div class="floatleft">
            <ul class="navbar" id="navbar1">
                <li><a class="navlink" href="/">Home</a></li>
                <li><a class="navlink" href="/register">Register</a></li>
                <li><a class="navlink" href="/login">Login</a></li>
                <li><a class="navlink" href="/about">About</a></li>
            </ul>
        </div>
        <div class="floatright">
            <ul class="navbar" id="navbar2">
                {{!-- <div class="profile" onclick="dropdownToggle();">
                        <li class="navbtn" id="account"></li></a>
                <div class="dropdownmenu" id="dropmenu">
                    <li> <a href="/acctdetailsnoedit"> View Account Details </a> </li>
                    <li> <a href="/acctdetails"> Edit Account Details </a> </li>
                    <li> <a href="/home"> Logout </a> </li>
                    <li> <a href="/admin_home_page"> Admin </a>
                </div>
            </div> --}}
            <form id="searchbar" method="GET" action="/search">
                <input type="text" id="fitem" name="fitem" placeholder="Search our store">
                <input type="submit" id="search" value="Search">
            </form>
            </ul>
        </div>
    </div>

    <div id="container">
        <h1 id="squery">Showing results for "{{query}}"</h1>
        <div id="content">
            {{#each thumbnail}}
                {{> thumbnail}}
            {{/each}}
        </div>
    </div>

    {{> footer}}

</body>
</html>
