<!DOCTYPE html>
<html>
    <head> 
        <title> Welcome! </title>
        <link rel="stylesheet" type="text/css" href="../css/success.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="container">
            <div id="header">
                <img src="../images/logo.png" height="150px" width="150px" id="logo">
                <p id="tagline"> {{fullName}}, meet Clothing and Science. </p>
		    </div>
            <a href="/home/{{userName}}"><button id="homebtn"> Homepage </button></a>
        </div>
    </body>
</html>
