<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="View Products">
    <meta name="author" content="CRUZADA, Carla Jeannine O.">

    <title>Clothing & Science | Browse Products</title>
    <link rel="stylesheet" type="text/css" media="all" href="../css/viewproducts.css">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
</head>
<body>
    <div id="container">
        {{> header flag=flag userName=userName}}
         <div class="content">
            {{#each thumbnail}}
                {{> thumbnail}}
            {{/each}}
        </div>

        {{> footer}}
    
    </div>
</body>
</html>
