<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Wishlist">
        <meta name="keyword" content="Wishlist">
        <meta name="author" content="DESEMBRANA, Anna Patricia B.">

        <title>Clothing & Science | Wishlist</title>
        <link rel="stylesheet" type="text/css" media="all" href="../css/wishlist.css">
        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/wishlist.js"></script>
    </head>
    <body>
        {{> header flag=flag userName=userName}}

        <div class="content">
            <h1>Wishlist</h1>
            <button id="add-all" onclick="alert('Succesfully added to cart!')">ADD ALL TO CART</button>

            {{#each wish}}
                {{> wish}}
            {{/each}}

        </div>
        
        {{> footer}}
        
    </body>
</html>