@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0px;
    min-height: 100%
}

.content {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

.cart {
    margin-left: 150px;
}

label {
    font-size: 17px;
}

.item {
    background-color: #e6e2dd;
    height: 180px;
    width: 800px;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
}

.checkbox { 
    float: left;
    margin-top: 80px;
    margin-right: 40px;
}

.image {
    width: 500px;
    height: 500px;
    zoom: 35%;
    margin: 5px;
    border: 10px solid white;
    float: left;
}


.details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    float: left;
    font-size: 13px;
}

/*QTY form----------------------------------------------------*/
input[type=number] {
    padding: 5px;
    width: 50px;
    text-align: center;
  }

.price {
    margin-top: 20px;
    position: relative;
    right: 170px;
    text-align: right;
    float: right;
    font-size: 14px;
}

.delete {
    background: none;
    background-color: rgb(250, 74, 74);
    border: none;
    border-radius: 40px;
    background-image: url('../images/spritesheet.png');
    background-position: -1480px -5px;
    height: 375px;
    width: 375px;
    zoom: 10%;
    margin-top: 150px;
    float: right;
    cursor: pointer;
}

aside {
    width: 400px;
    height: 250px;
    float: left;
    background-color: #e6e2dd;
    margin: 30px;
    position: relative;
    white-space: nowrap;
}

#btn_checkout {
    background-color: rgb(200, 10, 10);
    color: white;
    margin-right: 8px;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-size: 18px; 
    font-weight: 1000;
    position: relative;
    left: 650px;
    top: 30px;
    height: 35px;
    padding: 8px;
    cursor: pointer;
}

#hr_sum {
    margin: 10px;
    margin-left: 0;
}

#sum_text {
    margin: 35px;
    font-weight: 1000;
}

#total {
    color: #e6682d;
}

/* Removes hyperlink format from text */
/* unvisited link */
a:link {
    text-decoration: none;
    color: inherit;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: inherit;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: inherit;
}

/* selected link */
a:active {
    text-decoration: none;
    color: inherit;
}

