@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* HEADER START ---------------------- */
.header {
    background-color: #fb956c;
    height: 180px;
    width: 100%;
    margin: 0px;
}

#logo {
    margin-top: 55px;
    width: 100px;
}

#top-logo {
    display: flex;
    justify-content: center;
}

#container1 {
    background-color: white;
    height: 40px;
}

.navlink {
    margin-left: 80px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: inherit;
    text-decoration: inherit;
}

ul li a:hover{
    color: #D48166;
}

.navbar {
    margin: 15px;
}

#navbar1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 7px;
}

#navbar2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.floatleft {
    float: left;
}

.floatright{
    float: right;
}

.navbtn {
    margin-top: -140px;
    margin-left: 200px;
	margin-right: 4px;
	background-repeat: no-repeat;
	width: 375px;
	height: 375px;
    zoom: 7%;
}

ul {
    list-style-type: none;
    padding: 0;
}

#account {
    background-image: url("../images/spritesheet.png");
    background-position: 0px 0px;
}

#wishlist {
    background-image: url("../images/spritesheet.png");
    background-position: -1110px 0px;

}

#cart {
    background-image: url("../images/spritesheet.png");
    background-position: -370px 0px;
}

#fitem {
    margin-left: 20px;
    position: relative;
    bottom: 8px;
}

#search {
    background-image: url("../images/spritesheet.png");
    background-position: -740px 0px;
    position: relative;
    bottom: 8px;
    left: 5px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    color: transparent;
}
/* HEADER END -------------------------- */
