@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    margin: 0px;
}

/*For links / a href not to have underline and blue text*/
a{
    color: inherit; 
    text-decoration: none;
}

#banner {
    background-image: url("../images/banner.jpg");
	height: 750px;
    background-size: 2000px;
	background-position: center center;
    background-repeat: no-repeat;
}

#button {
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 100px;
    top: 270px;
}

#discover {
    font-family: 'Overpass', sans-serif;
    color: white;
    text-align: center;
}

#shopnow {
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    color: white;
    height: 60px;
    width: 170px;
    background: none;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

#content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




/* Removes hyperlink format from text */
/* unvisited link */
a:link {
    text-decoration: none;
    color: inherit;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: inherit;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: inherit;
}

/* selected link */
a:active {
    text-decoration: none;
    color: inherit;
}




/*DROPDOWN MENU START*/


/*account icon */
.profile {
    position: relative;
    right: 35px;
    cursor: pointer;
    width: 5px;
}

/*dropdownmenu*/
.profile .dropdownmenu {
    position: relative;
    top: 15px;
    right: 60px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    visibility: hidden;
    margin-bottom: -150px;
    width: 150px;
}

.profile .dropdownmenu.active {
    visibility: visible;
}


/*arrow in dropdownmenu*/
.profile .dropdownmenu::before {
    position: absolute;
    content: '';
    top: -5px;
    right: 99.5px;
    width: 8px;
    height: 8px;
    background: white;
    transform: rotate(45deg);

}

.profile .dropdownmenu li {
    list-style: none;
    padding: 5px;
}

.profile .dropdownmenu li a{
    text-decoration: none;
    color: #373A36;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}

/*change color hover over drop down menu options*/
.profile .dropdownmenu li a:hover {
    color: #fb956c;
}

/*DROPDOWN MENU END*/