body {
	background-color:#D48166
}

.input {
    margin-bottom: 5px;
    width: 60%;
    height: 25px;
    font-size: 14px;
    text-align: center;
}

#container {
	width: 470px;
	margin: auto;
	height: 470px;
	background-color: white;
	background: rgba(0,0,0,.2);
	text-align: center;
    position: relative;
    top: 70px;
}

#header {
	margin-top: 10px;
	text-align: center; 
	position: relative;
	top: 50px;
}

#tagline {
	font-family: 'Satisfy', cursive;
	font-size: 25px;
	color: white;
	margin-left: 20px;
	margin-bottom: 55px;
}

#logo {
	margin-left: 10px;
}

#homebtn {
	padding: 15px;
    margin-bottom: 5px;
	border: 0;
	outline: 0;
	background-color: #373A36;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
    padding: 5px 5px;
	position: relative;
    height: 40px;
    width: 120px;
	top: 15px;
}

#homebtn:hover{
    cursor: pointer;
    color: #D48166;
}