@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0px;
}

#container {
    min-height: 1000px;
}

/* HEADER START ---------------------- */
.header {
    background-color: #fb956c;
    height: 180px;
    width: 100%;
    margin: 0px;
}

#logo {
    margin-top: 55px;
    width: 100px;
}

#top-logo {
    display: flex;
    justify-content: center;
}

#container1 {
    background-color: white;
    height: 40px;
}

.navlink {
    margin-left: 80px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: inherit;
    text-decoration: inherit;
}

.navbar {
    margin: 15px;
    margin-bottom: 0;
}

ul li a:hover{
    color: #D48166;
}

#navbar1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 7px;
}

#navbar2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.floatleft {
    float: left;
}

.floatright{
    float: right;
}

.navbtn {
    margin-top: -140px;
    margin-left: 200px;
	margin-right: 4px;
	background-repeat: no-repeat;
	width: 375px;
	height: 375px;
    zoom: 7%;
}

ul {
    list-style-type: none;
    padding: 0;
}

#account {
    background-image: url("../images/spritesheet.png");
    background-position: 0px 0px;
}

#wishlist {
    background-image: url("../images/spritesheet.png");
    background-position: -1110px 0px;

}

#cart {
    background-image: url("../images/spritesheet.png");
    background-position: -370px 0px;
}

#fitem {
    margin-left: 20px;
    position: relative;
    top: -4px;
}

#search {
    background-image: url("../images/spritesheet.png");
    background-position: -740px 0px;
}

#hr_home{
    width: 100%;
    margin: 0;
}
/* HEADER END -------------------------- */

.content {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

h1 {
    width: 800px;
    text-align: left;
    margin-bottom: 10px;
}

#add-all {
    width: 200px;
    height: 25px;
    background-color: #373A36;
    color: white;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.wish {
    background-color: #e6e2dd;
    height: 180px;
    width: 800px;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
}

.image {
    width: 500px;
    height: 500px;
    zoom: 35%;
    margin: 5px;
    border: 10px solid white;
    float: left;
}

.details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    float: left;
    font-size: 13px;
}

.price {
    margin-top: 20px;
    position: relative;
    right: 170px;
    text-align: right;
    float: right;
    font-size: 14px;
}

.buttons {
    margin-right: -15px;
    margin-top: 40px;
    float: right;
    display: flex;
    flex-direction: column;
}

.delete {
    background: none;
    background-color: rgb(250, 74, 74);
    border: none;
    border-radius: 40px;
    background-image: url('../images/spritesheet.png');
    background-position: -1480px -5px;
    height: 375px;
    width: 375px;
    zoom: 10%;
    margin-top: 150px;
    cursor: pointer;
}

.add-cart {
    background: none;
    background-color: #67f973;;
    border: none;
    border-radius: 40px;
    background-image: url('../images/spritesheet.png');
    background-position: -440px -415px;
    width: 375px;
    height: 375px;
    zoom: 10%;
    cursor: pointer;
}

#img1 {
    background-image: url('../images/spritesheet2.png');
    background-position: 0px 0px;
}

#img2 {
    background-image: url('../images/spritesheet2.png');
    background-position: -1000px 0px;
}

#img3 {
    background-image: url('../images/spritesheet2.png');
    background-position: -2000px 0px;
}

#img4 {
    background-image: url('../images/spritesheet2.png');
    background-position: -1500px 0px;
}

#img5 {
    background-image: url('../images/spritesheet2.png');
    background-position: 0px -500px;
}

/* Removes hyperlink format from text */
/* unvisited link */
a:link {
    text-decoration: none;
    color: inherit;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: inherit;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: inherit;
}

/* selected link */
a:active {
    text-decoration: none;
    color: inherit;
}

/* FOOTER START ------------------------- */ 
footer {
    background-color: #4d4845;
    color: white;
    height: 150px;
    width: 100%;
}

#hr_footer {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    top: 70px;
}

#footer1 {
    margin-left: 100px;
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    position: relative;
    top: 70px;
}
/* FOOTER END --------------------------- */

/*DROPDOWN MENU START*/


/*account icon */
.profile {
    position: relative;
    right: 35px;
    cursor: pointer;
    width: 5px;
}

/*dropdownmenu*/
.profile .dropdownmenu {
    position: relative;
    top: 15px;
    right: 60px;
    background: #373A36;
    padding: 20px;
    border-radius: 15px;
    visibility: hidden;
    margin-bottom: -150px;
    width: 150px;
}

.profile .dropdownmenu.active {
    visibility: visible;
}


/*arrow in dropdownmenu*/
.profile .dropdownmenu::before {
    position: absolute;
    content: '';
    top: -5px;
    right: 99.5px;
    width: 8px;
    height: 8px;
    background: white;
    transform: rotate(45deg);

}

.profile .dropdownmenu li {
    list-style: none;
    padding: 5px;
}

.profile .dropdownmenu li a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
}

/*change color hover over drop down menu options*/
.profile .dropdownmenu li a:hover {
    color: #D48166
}

/*DROPDOWN MENU END*/